@{
    ViewData["Title"] = "";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron">
    <h1 class="display-3">Holybee</h1>
    <div class="container">
        
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to HolyBee</h2>
        <p>
            For homo and hetero 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Who are we ?</h2>
        <p>
            Holybee isn't a company, but a volunteers organization that targets Homos, Lesbians and Bisexuals; Openminded people and heteros are also welcome. <br/>
            Holybee's goal is; no more discrimination in the Netherlands. SHOW your feelings. Accept one's true shelf.<br/>
            Respect other's feelings. It doesn't matter who you love, what you believe and how you look. Together we feel the same; We stand strong together!<br />
            This is not something that can be bought. Together we can achieve our goal.
        </p>
        
    </div>

</div>