@{
    ViewData["Title"] = "";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron">
    <h1 class="display-3">Holybee</h1>
    <div class="container">
        
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to HolyBee</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget purus sagittis, aliquet nunc id, consectetur tellus. 
            Curabitur blandit dignissim odio, ullamcorper sagittis magna eleifend nec. Mauris quis augue nunc. Phasellus hendrerit luctus odio.
            Sed non finibus felis. Duis euismod nisl orci, sit amet dictum neque vulputate vel. Praesent in felis non nunc pharetra imperdiet et non eros. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>

</div>